<h1><%= @user.email %></h1>
<br><br><br>
<h2>Your bio:</h2>
<p><%= @user.bio %></p>
<br>
<h2>Your posts:</h2>


<% @user.posts.each do |post| %>
	<p><%= sanitize post.body %></p>
	<p><%= post.user_id %></p>
	<p><%= @user.id %></p>
<%end%>