<head>
      <script type="text/javascript">
        tinyMCE.init({
          force_br_newlines : true,
          force_p_newlines : false,
          forced_root_block : '' // Needed for 3.x
        });
    </script>
</head>
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class= "field">
      <%= form.file_field :image %>
  </div>
  <div class="field" style="width: 60vw;">
    <%= form.label :body %>
    <%= form.text_area :body, id: :post_body, :rows => 20, :cols => 30, :class => "tinymce"%>
    <%= tinymce %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
