
  <h1 style="text-align: center; ">Posts</h1>

       <%=paginate @posts%>
    <br><br>

<div id="post_options" >
  <%= link_to 'New Post', new_post_path, class:"btn btn-primary", id:"tipka"%>
  <%= sortable "user_id" , "Sort by user"%>
  <%= sortable  "created_at", "Sort by date"%>
</div>
    
  <div class="blog_posts">
    <% @posts.each do |post| %>
    <div class="blog_post"  >   
        <h1 class="naslov"><%= post.title %></h1>
        <div class="image_body"><%= image_tag post.image_url(:thumb) if post.image?%></div>
        <p class="body_post"><%= sanitize post.body %></p>
        <p class="email_post" style="color: darkslategray; text-align: center; ">Uploaded by: <%= post.user.email %></p>
        <div class="manage_body">
          <%= link_to 'Show', post %>
          <% if user_signed_in? %>
          <p id ="like_dislike">
          <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
              <% if pre_like %>
                <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete, class:"btn btn-primary" %>
                <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
    
              <% else %>
                <%= button_to 'Like', post_likes_path(post), method: :post, class:"btn btn-primary" %>
                <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
              <% end %>
          </p>    
          <%end%>    
          <% if post.user == current_user %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> 
        </div>
    <% end %>
    </div>
  <% end %>
</div>




