
<div id="new_post">
	<h1>New Post</h1>

	<%= render 'form', post: @post %>

	<%= link_to 'Back', posts_path %>
</div>

<style type="text/css">
		#new_post {
			margin: 0 auto;
			margin-top: 12vh;
			justify-content: center;
			align-items: center;
			width: 64vw;
			background-color: rgba(255,255,255, 0.6);
			padding: 50px;
		}
</style>
