<head>
	<style type="text/css">
		#show_post {
		
		
			justify-content: center;
			align-items: center;
			width: 20vw;
			background-color: rgba(255,255,255, 0.6);
			padding: 50px;
		}
	</style>
</head>
<div id = "show_post">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Title:</strong>
	  <br>
	  <%= @post.title %>
	</p>

	<p>
	  <strong>Body:</strong>
	  <%= sanitize @post.body %>
	</p>
	<p>
	  <strong>Image:</strong>
	  <div class="image_body"><%= image_tag @post.image_url(:thumb) if @post.image?%></div>
	</p>

	<p class="email_post">
		<strong>Uploaded by:</strong>
		<p><%= @post.user.email %></p>
	</p>
	<br><br><br>
	<div style="text-align: center;">
	<%= link_to 'Edit', edit_post_path(@post) %> |
	<%= link_to 'Back', posts_path %>
</div>
