body {
  background-image: url(back.png);
}
.wrapper {

  margin-left: 40vw;
}

p, ol, ul, td {
  font-family: arial;
  font-size: 13px;
  line-height: 30px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;

}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: darkslategray;
  display: table;
  color: white;
}

#error_explanation {
  width: 450px;
  border: 2px solid darkslategray;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}


.pagination {
  width: 40vw;
  margin: 0 auto; 
  margin-left: 46.5vw;

}

.pagination > .active > a {
  background-color: darkslategray;
}

.pagination > li > a {
  color: darkslategray;
}

.navbar {
  border-radius: 0; 
}



.blog_post {
  margin: 0 auto;
  width: 30vw;
  border-top: 1px black solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 2vh;
  background-color: rgba(255,255,255,0.6);
}


.naslov {
  margin: 0 auto;
  color: darkslategray;
  font-size: 3em;
}

.image_body {
  margin: 0 auto;
}

.blog_post > p > span{
  margin-right: 30px;
  font-size: 1.6em;
}


.manage_body {
  width: 100%;
  margin: 0 auto;
  background-color: darkslategray;
  height: 5vh;
  text-align: center;
  color: white;
  text-transform: uppercase;
  height: auto;
}

.manage_body a {
  color: white;
  margin: 2vw;
  padding-top: 30px;
}

#nav-tipke {
  float: right;
  margin: 0 auto;
  margin-top: 1.4vh;
  margin-bottom: 1vh;
}

#nav-tipke li {
  list-style-type: none;
  margin-right: 5vw;
  font-size: 1.5em;

}

.blog_posts {
  margin-bottom: 5vw;
  margin-top: 5vw;
}

.like_dislike {
  display: inline;
}

#show_post {
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}