<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

    <nav class = "navbar navbar-expand-lg navbar-dark" style ="background-color: darkslategray;" id="nav-traka" >
  	   
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div id="search_bar" style="display: inline;">
          <%= form_tag posts_path, method: :get do %>
            <input type="text" name="query" id="query" placeholder= "Search query" value="<%= params[:query] %>">
            <input type="submit" name="commit" value="Search" class="btn btn-default">
          <%end%>
        </div>
          <ul class ="navbar-nav ml-auto" id="nav-tipke">
        
            <li class="nav-item"><% if !user_signed_in? %><%= link_to "Sing up", new_user_registration_path %> <% end %></li>
            <li class="nav-item"> <% if user_signed_in? %>
                                    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
                                  <% else %>
                                    <%= link_to('Login', new_user_session_path) %>  
                                  <% end %>
            </li>
            <li class="nav-item" style="color: white">
                <p>Welcome <strong><%=
                  if user_signed_in? 
                      User.find(current_user.id).email
                  else
                      "Guest"    
                  end
                      %></strong>
                </p>
            </li>
          </ul>
        </div>
        
     </nav>  
   

    <%= yield %>
  </body>
</html>
